# mariadb root password
DBPASS=exampleofpassword
DBUSER=exampleofuser
DBNAME=school
DBHOST=127.0.0.1
DBPORT=3306

# authintication
JWT_SECRET=When-you-think-you-know-something,-that-is-the-most-perfect-barrier-against-learning
