{{define "content"}}

<!--  -->
{{if .error}}
<p>Error : {{.error}}</p>
{{end}}
<!--  -->
{{if .msg}}
<h4>Message : {{.msg}}</h4>
{{end}}
<!--  -->
<form method="POST" action="insert">
  <input required type="number" name="ID" placeholder="student id" />
  <input required type="text" name="Name" placeholder="student name " />
  <input required type="number" name="Mark" placeholder="mark" />
  <label for="forUpdate">Update if it exists?</label
  ><input type="checkbox" name="forUpdate" />
  <input type="submit" name="Submit" value="Submit" />
</form>

{{end}}
