:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 2px solid #ddd;
  /**/
  background: linear-gradient(90deg, #a8d5ba, #4a7c59);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  grid-column: 1/-1;
}

header h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  /**/
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  gap: 0.75rem;
}

nav a {
  cursor: pointer;
  padding: 0.5rem 0.9rem;
  /* border: 1px solid #ccc; */
  border: none;
  /* background: white; */
  background-color: #fff;

  border-radius: 6px;
  font-size: 0.95rem;
  transition:
    background 0.15s ease,
    border-color 0.15s ease;
  /**/
  font-weight: 600;
  color: #4a7c59;
}

a {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em; */
  font-weight: 500;
  font-family: inherit;
  background-color: #00ff0f82;
  cursor: pointer;
  transition: border-color 0.25s;
}

a:hover {
  border-color: black;
}

a:focus,
a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a:disabled {
  background-color: gray;
  color: darkslategray;
}

main,
form {
  background: #eee;
  padding: 1rem;
  margin: 20px;
  border-radius: 8px;
  display: grid;
  flex-direction: column;
  align-items: center;
  /* controls verticla spacing between elements */
  gap: 0rem;
}
